:root {
    --grey: #707070;
    --light-grey: #DDDDDD;
    --side-margins: 6rem;
    --header-height: 10rem;
    --small-gap: 2rem;
    --big-gap: 6rem;
}

/* This element is needed for the page to take up the full width on mobile */
.site-wrapper {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    margin: 4px;
}

h3 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin: 4px;
}

h4 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin: 4px;
}

h6 {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin: 18px 0px;
    color: #707070;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    height: var(--header-height);
    
    .background {
        height: calc(2*var(--header-height));
        background-color: black;
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    margin: 0 var(--side-margins);

    img {
        min-width: 0;
    }
    
    .link-block {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
}

ul {
    display: flex;
    list-style: none;
    gap: var(--small-gap);
}

li {
    float: left;
    white-space: nowrap;

    a {
        color: white;
    }
}

input[type=text] {
    height: 2rem;
    padding-left: 2rem;
    color: white;
    background-color: black;
    background-image: url("../assets/icons/search.svg");
    background-repeat: no-repeat;
    background-position: left center;
    border: 0;
    border-bottom: 1px solid white;
}

.search-container {
    position: relative;
}

.search-results {
    position: absolute;
    z-index: 1;
    flex-direction: column;
    left: 0;
    width: 24rem;
    max-height: 60vh;
    overflow: scroll;
    padding: 0 var(--small-gap);
    background-color: black;
    color: white;
    border: 1px solid var(--light-grey);
}

.search-result {
    cursor: pointer;
    margin: 2rem 0;
}


/* || Slides */

.slides-wrapper {
    position: relative;
    width: calc(100vw - 2*var(--side-margins));
    height: 40rem;
    overflow: hidden;
    margin: 0 var(--side-margins);
}

.slides {
    position: absolute;
    display: flex;
    width: max-content;
}

.slides.transitioning {
    transition: 0.5s ease-in-out;
}

.slide {
    width: calc(100vw - 2*var(--side-margins));
    height: 35rem;
    padding-bottom: 5rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.slide_nav_buttons {
    position: absolute;
    right: 0;
    top: 36rem;
}

.quote_container {
    translate: 0 -5rem;
    max-width: 35rem;
    background-color: black;
    align-content: center;
    padding: 1rem 5rem;
    margin: 0 5rem;
}

.quote {
    color: white;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}


/* || Main (articles + aside) */

button {
    height: 3rem;
    min-width: 7rem;
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:enabled:hover {
    background-color: black;
    color: white;
    transition: 0.2s;
}

button:disabled {
    border: 2px solid var(--grey);
    cursor: default;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    margin: 4rem var(--side-margins);
    gap: var(--big-gap);
}

main {
    flex: 3;
    min-width: 35rem;
}

aside {
    flex: 1;
    min-width: 20rem;
}

.content-column {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
}

article {
    display: flex;
    flex-direction: row;
    gap: var(--small-gap);

    img {
        object-fit: contain;
    }
}

.five-lines {
    display: -webkit-box;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.two-lines {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.article-navigator {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divider {
    display: block;
    min-height: 1px;
    background-color: lightgray;
}


/* || Sponsors */

.sponsors {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 var(--side-margins);
    gap: var(--small-gap);
}

.sponsor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(122px, 1fr));
}


/* || Footer */

footer {
    background-color: black;
    margin: 0 var(--side-margins);
    padding: 4rem var(--side-margins);
}

.content-row {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: var(--big-gap);
}

.instagram-grid {
    display: grid;
    grid-template-columns: repeat(3, 75px);
    justify-content: center;
    gap: var(--small-gap);
}


/* || Modal dialog */

dialog {
    border: none;
    padding: 0;
    width: 70vw;
    height: 70vh;
}

dialog::backdrop {
    background-color: rgba(128, 128, 128, 0.6);
}

.dialog-close-wrapper {
    display: flex;
    justify-content: end;
    position: sticky;
    top: 0;
    z-index: 1;

    .close-button {
        height: 30px;
        width: 30px;
        padding: 10px;
        background-color: black;
        cursor: pointer;
    }
}

.dialog-banner {
    height: 250px;

    img {
        position: absolute;
        top: 0;
        width: 70vw;
        height: 300px;
        object-fit: cover;

    }
}

.dialog-post {
    padding: var(--small-gap);
}















