:root {
    --grey: #707070;
    --lightGrey: #DDDDDD;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    background-color: black;
}

nav {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    display: flex;
    justify-content: space-between;
}

.navigation_header {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.links {
    display: flex;
    gap: 30px;
}

.links a {
    color: white;
}

.slides {
    position: relative;
}

.slide {
    width: 90vw;
    margin: auto;
    padding-bottom: 100px;
}

.slide_nav_buttons {
    position: absolute;
    bottom: 60px;
    right: 100px;
}

.quote_container {
    position: absolute;
    translate: 136px -100px;
    height: 200px;
    width: 600px;
    background-color: black;
    align-content: center;
    padding: 0px 80px;
}

.quote {
    color: white;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}

main {
    display: flex;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.articles {
    display: flex;
    flex: 3;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
}

.article_list {
    display: flex;
    flex: 3;
    flex-direction: column;
    gap: 40px;
}

article {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: start;
    gap: 20px;
}

.five_lines {
    display: -webkit-box;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.aside {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 40px;
    margin: 40px;
}

.article_navigator {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divider {
    display: block;
    height: 1px;
    background-color: lightgray;
}

.link_button {
    display: inline-block;
    box-sizing: border-box;
    min-width: 100px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    color: black;
    cursor: pointer;
}

img {
    object-fit: contain;
}

dialog {
    border: none;
    padding: 0px;
}

dialog::backdrop {
    background-color: rgba(128, 128, 128, 0.6);
}

.dialog_content {
    width: 1000px;
    height: 700px;
}

.dialog_banner {
    height: 300px;
}

.banner_img {
    width: 1000px;
    height: 300px;
    object-fit: cover;
}

.dialog_post {
    padding: 25px;
}

.dialog_close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    padding: 10px;
    background-color: black;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    margin: 4px;
}

h6 {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin: 18px 0px;
    color: #707070;
}